@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300&display=swap');

:root {
    --lightestTurquoise: #bde5d4;
    --lightTurquoise: #96ecc7;
    --turquoise: #42ccbe;
    --almostWhite: #f7f5f5;
    --white: white;
}

* {
    box-sizing: border-box;
    font-family: 'Laila', serif;
}

body {
    background-image: linear-gradient(var(--lightestTurquoise), var(--lightTurquoise), var(--turquoise));
    background-attachment: fixed;
    height: 100vh;
}

button {
    width: 100%;
}

.header {
    text-shadow:     
        1px 1px 2px var(--white),
        0 0 1em var(--almostWhite),
        0 0 0.2em var(--almostWhite);
}

.column {
    column-count: 5;
    column-gap: 30px;
    flex-wrap: wrap;
    display: inline-flex;
}

.background {
    background-color: var(--white);
}

.margin {
    margin: 2%;
}

.justify-content {
    justify-content: space-evenly;
}

.padding {
    padding: 10px;
}

.flex {
    display: flex;
}

.border {
    border: solid 1px var(--almostWhite);
}

.margin-bottom {
    margin-bottom: 10px;
}

.card .card-padding {
    padding: 0;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
    color: var(--white);
}

@media screen and (max-width: 896px) {

    .column {
        column-gap: 14px;
    }

    .small {
        margin-left: 13px;
    }

}

@media screen and (max-width: 600px) {

    .padding {
        padding: 5px;
    }
    
    .column {
        column-gap: 5px;
    }

    .card .card-content {
        padding: 5px;
    }

    .card .card-action {
        padding: 5px;
    }

   .small {
        margin-right: 10px;
    }

    .flex {
        display: block;
    }
}